<div class="main" id="a-propos">
    <div class="title-body">
        <h2>A PROPOS</h2>
    </div>

    <div>
        <div>
            <h3>Hello !</h3>
            <p><b>Moi c'est Kira</b>, et cette section est là pour que tu en apprennes un peu plus sur moi.</p>
            <span class="little-heart-img"></span>
        </div>
        <div>
            <h3>Des bijoux et des tricots</h3>
            <p><strong>Adepte du fait-main</strong> depuis toujours, j'ai très vite appris à construire mes propres <strong>bijoux</strong>.
                Puis, vers l'âge de 12 ans, je trouve dans notre maison de campagne <strong>une pelote et une paire d'aiguilles</strong>.
                Il est donc temps que ma mère m'apprenne à tricoter ! Mais ce n’est que bien plus tard que je décide de lancer mon auto-entreprise afin de <strong>proposer à la vente mes créations</strong>.</p>
        </div>

        <div>
            <h3>Matières fines et laine premium</h3>
            <p><strong>Au plus proche de la nature</strong> depuis ma tendre enfance, je suis attirée depuis toujours par les <strong>matières naturelles</strong>.
                C’est donc tout naturellement que j’ai souhaité élaborer des modèles de bijoux à partir de <strong>pierres fines (ou «&nbsp;semi-précieuses&nbsp;»)</strong>.
                Je propose pour mes créations en tricot et crochet <strong>différentes matières pour les différentes saisons</strong> que nous vivons (laine, coton, lin), mais aussi pour la <strong>sensibilité de chacun</strong> :
                je propose certains modèles en synthétique pour les personnes qui seraient par exemple allergiques à la laine mais souhaitent un rendu qui s’en rapproche.
                Tous les fils avec lesquels je travaille sont de qualité premium. <strong>La laine est douce et le synthétique est beau.</strong>
                Il est plus qu'important pour moi de <strong>proposer de la qualité à mes clients</strong>.</p>
        </div>

        <div>
            <h3>Des produits uniques</h3>
            <p><strong>Toutes mes créations sont réalisées avec patience et amour</strong>, dans mon atelier en Essonne.
                Je produis peu car je travaille seule sur les créations de Kira Design.
                Vous pouvez donc être sûrs de <b>ne pas voir beaucoup de personnes porter le même</b> <strong>bijou</strong> <b>ou le même</b> <strong>bonnet</strong> que vous !
            </p>
        </div>

        <div>
            <h3>Ventes sur Etsy</h3>
            <p><a href="https://www.etsy.com/fr/shop/KiraDsgn" title="Visiter la boutique Etsy">Etsy</a>, c'est une <strong>plateforme de vente en ligne pour les artisans</strong> qui veulent se lancer, le temps de développer leur propre shop.
                C'est par cette plateforme que je passe pour le moment, <b>pour vous proposer</b> <strong>mes créations et mes patrons</strong>.
                La partie <strong>boutique de kiradesign.fr</strong> est en cours de construction, et dès sa finalisation, <b>vous serez prévenus</b> sur <a target="_blank" href="https://www.instagram.com/kira_dsgn/" title="Suivez-moi sur Instagram">mon feed Instagram</a> !
                En attendant, vous êtes redirigés de manière sécurisée sur le site <a target="_blank" href="https://www.etsy.com/fr/shop/KiraDsgn" title="Visiter la boutique Etsy">Etsy</a>.</p>
        </div>

        <br/>

        <div>
            <h4 style="padding-bottom: 0rem !important;">♡ A bientôt ! ♡</h4>
        </div>


    </div>
</div>

<br>

<hr>

<div id="footer">
    <a class="return-back" routerLink="/">Retour à la page d'accueil</a>
</div>
