<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="products">
            <h2><span jhiTranslate="kiraApp.products.detail.title">Products</span> {{ products.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kiraApp.products.pdtName">Pdt Name</span></dt>
                <dd>
                    <span>{{ products.pdtName }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtSubtitle">Pdt Subtitle</span></dt>
                <dd>
                    <span>{{ products.pdtSubtitle }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtDescription">Pdt Description</span></dt>
                <dd>
                    <span>{{ products.pdtDescription }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtMaterial">Pdt Material</span></dt>
                <dd>
                    <span>{{ products.pdtMaterial }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtPrice">Pdt Price</span></dt>
                <dd>
                    <span>{{ products.pdtPrice }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtStock">Pdt Stock</span></dt>
                <dd>
                    <span>{{ products.pdtStock }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtOnSold">Pdt On Sold</span></dt>
                <dd>
                    <span>{{ products.pdtOnSold }}</span>
                </dd>
                <dt><span jhiTranslate="kiraApp.products.pdtCategory">Pdt Category</span></dt>
                <dd>
                    <div *ngIf="products.pdtCategory">
                        <a [routerLink]="['/categories', products.pdtCategory?.id, 'view']">{{ products.pdtCategory?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/products', products.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
