<div class="main" id="contact">
    <div class="title-body">
        <h2>CONTACT</h2>
    </div>

    <div>
        <p>Pour toutes questions, merci d'envoyer un mail à<p>
        <p>
            <a href="mailto: kira@kiradesign.fr">kira@kiradesign.fr
            </a>
        </p>
        <p>Je vous réponds dès que possible !</p>
        <br>
        <i class="fas fa-paper-plane" style="font-size: 1.4rem; color: var(--primary);"></i>
    </div>
</div>

<br>

<hr>

<div id="footer">
    <a class="return-back" routerLink="/">Retour à la page d'accueil</a>
</div>
