<div class="main" id="contact">
    <div class="title-body">
        <h2>PATRONS</h2>
    </div>

    <div></div>
    <div class="mb-5 justify-content-center">
        <p>Cliquez sur chaque image pour afficher les détails !</p>
    </div>


    <!-- <div class="input-group mb-5 justify-content-center">
        <div class="form-outline">
            <input type="search" class="form-control" #searchItem (keyup)="onSearchItems(searchItem.value)" />
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div> -->

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 sm-12" *ngFor="let pattern of patterns">
            <div class="img-overlay" id="{{pattern.title}}-box" style="width: 18rem; height: 18rem;">
                <img class="image img-thumbnail" src="{{pattern.linkImage}}"
                     alt="image pattern"/>
                <div class="img-caption">
                    <div class="link" style="padding-top: 2rem;">
                        <h5 class="title" id="{{pattern.title}}">{{pattern.title}}</h5>
                        <span class="collection">{{pattern.description}}</span>
                        <br>
                        <span class="price">{{pattern.price}}</span>
                        <br><br>
                        <div class="item-details-link" id="pdf-download-link">
                            <a (click)="downloadPdf()"><span>Télécharger le pdf&nbsp;<fa-icon icon="file-download"></fa-icon></span>
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<br>

<hr>

<div id="footer">
    <a class="return-back" routerLink="/">Retour à la page d'accueil</a>
</div>
